*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html body{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, violet, purple);

}


.card{
    width: 60%;
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    margin: 100px auto;
    padding: 33px 20px;
}
.card h2{
    display: flex;
    align-items: center;
    gap: 3px;

}

.card img{
    height: 30px;
}
.searchBar{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
}

.searchBar input{
    border-radius: 20px;
    border:none;
    outline: none;
    background-color: rgb(236, 235, 235);
    padding: 6px 20px;
    flex: 1;
}

.searchBar button{
    border-radius: 30px;
    padding: 8px 20px;
    border: none;
    outline: none;
    background-color: rgb(252, 81, 18);
    color: white;
    font-size: 10px;
    cursor: pointer;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 15px 8px 15px 50px ;
    user-select: none;
    cursor: pointer;
    position: relative;
    top: 12px;
    
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);

}

ul li span{
    position: absolute;
    right: 0;
    /* top: 12px; */
    width: 32px;

    font-size: 22px;
    text-align: center;
    border-radius: 50%;

}

ul li span:hover{
    background: #c1c2c2;
    /* height: 27px;
    width: 25px; */

}